* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: grey;
}

/* 
.header {
    background: brown;
}

.title {
    background: cadetblue;
}

.gallery {
    background: chartreuse;
}

.aside {
    background: coral;
} */

.header {
    grid-area: header;
    display: flex;
}


.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.title h1 {
    font-size: 36px;
    color: black;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.title h6 {
    font-size: 16px;
    padding-bottom: 50px;
}

.section-div {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-bottom: 50px;
}

.gallery {
    grid-area: gallery;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "title"
    "gallery";
}

.section-div p {
    display: grid;

}

@media only screen and (max-width: 701px) {
    * {
        font-size: 10px;
    }

    .section-div {
        width: 70%;
    }

    .header {
        justify-content: center;
        align-items: center;
    }

    .circles {
        display: grid;
        grid-template-columns: 50% 50% ;
        /* grid-template-rows: 1px  */
        padding-left: 5%;
    }

    #gallery-grid {
        display: grid;
        grid-template-columns: 100% ;
        align-items: center;
    }

    .aside {
        display: none;
    }

    .gallery h1 {
        text-align: center;
    }

    #logo-img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        /* padding-bottom: 10px; */
        padding: 0px 10px 10px 10px;
    }

    #gallery-grid p {
        font-size: 10px;
    }

    .section-div h1 {
        font-size: 25px;
    }

    .section-div h6 {
        font-size: 10px ;
    }

    .section-div p {
        grid-template-areas: 
        "link4" "link3" "link2" "link1";
        text-align-last: center;
        display: inline-block;
    }

    #link1 {
        padding-left: 20%;
    }

    #link1, #link2, #link3, #link4 {
        padding-right: 5%;
    }

    .aside-div h1{
        padding-top: 25%;
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {
    * {
        font-size: 10px;
    }

    .section-div {
        width: 70%;
    }

    .header {
        justify-content: center;
        align-items: center;
    }

    .circles {
        display: grid;
        grid-template-columns: 50% 50% ;
    }

    #gallery-grid {
        display: grid;
        grid-template-columns: 100% ;
        align-items: center;
        padding-right: 4%;
    }

    .aside {
        display: none;
    }

    .gallery h1 {
        text-align: center;
    }

    #logo-img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }

    #gallery-grid p {
        font-size: 10px;
    }

    .section-div h1 {
        font-size: 25px;
    }

    .section-div h6 {
        font-size: 10px ;
    }

    .section-div p {
        grid-template-areas: 
        "link4" "link3" "link2" "link1";
        text-align-last: center;
        display: inline-block;
    }

    #link1 {
        padding-left: 12%;
    }

    #link1, #link2, #link3, #link4 {
        padding-right: 5%;
    }

    .aside-div h1{
        padding-top: 25%;
        text-align: center;
    }

}

@media only screen and (min-width: 701px) and (max-width: 1281px) {

    *{
        font-size: 16px;
    }

    .header .section-div {
        width: 90%;
        text-align: center;
    }

    .header {
        justify-content: center;
        align-items: center;
    }
    
    #link1, #link2{
        float: right;
    }


    #link3, #link4{
        float: left;
    }


    #logo-img {
        display:block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 35%;
        left: -2%;
    }


    .circles {
        display: grid;
        grid-template-columns: 25% 25% 25% 25% ;
        /* grid-template-rows: 1px  */
    }

    #gallery-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .section-div .circles {
        padding-left: 20%;
        width: 80%;
    }


    #gallery-grid p {
        font-size: 15px;
    }

    .aside {
        display: none;
    }

    .gallery h1 {
        text-align: center;
    }
/* 
    #link3 {
        padding-left: 2%;
    } */

    #link1 {
        padding-right: 6%;
    }

    #link3, #link2 {
        padding-right: 7%;
    }

    .link {
        box-sizing: border-box;
    }
/* 
    .link p {
        font-size: 12px;
    } */

    .aside-div h1{
        padding-top: 25%;
        text-align: center;
    }
}



@media only screen and (min-width: 1281px) {

    /* .header .section-div {
        background-color: chartreuse;
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    } */

    #logo-img {
        float: left;
        width: 100%;
        box-sizing: content-box;
    }

    #link1, #link2, #link3, #link4 {
        float: right;
        padding: 2em;
        text-align-last: right;
        
    }

    .title .section-div {
        width: 66%;
        height: min-content;
    }

    .section-div .circles {
        width: 100%;
        padding-left: 15%;
        /* background-color: salmon; */
    }

    .circles {
        display: grid;
        grid-template-columns: 25% 25% 25% 25% ;
        /* width: 100%;
        align-items: center;
        padding-left: 20%; */
        /* grid-template-rows: 1px  */
    }

    #gallery-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        color:gray;
        font-size: 20px;
    }

    main {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "title title title"
        "gallery gallery aside";
    }

    .gallery h1 {
        padding-left: 50px;
    }

}

#link1 {
    grid-area: link1;
}

#link2 {
    grid-area: link2;
}

#link3 {
    grid-area: link3;
}

#link4 {
    grid-area: link4;
}

#logo-img {
    width: 200px;
    height: 100px;
}

.circles img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

#gallery-grid img {
    padding: 50px 50px 0px 50px;
    display: block;
    width: 100%;
    height: auto;

}

#gallery-grid p {
    padding-left: 50px;
    font-size: small;
    padding-top: 10px;
}

.aside {
    grid-area: aside;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.aside-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: minmax(10px, auto)
}

.info-img img { 
    height: auto;
    width: 100%;
    padding-right: 10%;
    /* padding-left: 10%; */
}

.info-img {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10%;
    padding-top: 20%;
}

.info-txt {
    grid-column-start: 2;
    grid-column-end: 5;
    padding-top: 21%;

}

.txt {
    padding: 7% 0 5% 6%;
}

.by {
    padding: 5% 0 5% 0;
    text-align: right;
}

.about p {
    padding-left: 6%;
    padding-right: 4%;
}

.by p{
    color:darkviolet;
    font-weight: bold;
    padding-right: 5%;
}

.footer {
    display: grid;
    width: 300%;
}

.footer p {
    font-size: 10px;
    text-align: center;
    padding-bottom: 2%;
}

/* 
Make the aside disappear after max px */
/* @media only screen and (min-width: 700px) {
    .aside {
        display: none;
    }
} */